<h1>Hola <%= @nombre %>  y tengo <%= @edad %> años</h1>


<p>Find me in app/views/home/index.html.erb</p>

Hola, tu email es: <%= current_user.email %>

<%= @google_url %>

<%= debug params %>
<br></br>
<%= debug session.methods.sort %>


