<p id="notice"><%= notice %></p>


<!--     <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= image_tag product.image.thumb.url %></td>
        <td><%= product.user %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>  -->
<section class="main clearfix">
  <% @products.each do |product| %>
    <div class="work">
    <!--   <a href="inner.html">
        <img src="img/work1.jpg" class="media" alt=""/> -->
        <%= link_to image_tag(product.image.medium.url, class: "media"), product_path(product) %>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>
    <% end %>

 
  </section><!-- end main -->

  <%= link_to 'New Product', new_product_path %>  