<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="author" content="pixelhint.com">
  <meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

  <div id="menu_icon"></div>
    <nav>
      <ul>
        <li> <%= link_to "home",root_path %></li>
       <!--  <li><a href="index.html" class="selected">Home</a></li> -->
        <li><a href="#">About</a></li>
        <li><a href="#">The Team</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav><!-- end navigation menu -->

<!-- <div class="footer clearfix">
      <ul class="social clearfix">
        <li><a href="#" class="fb" data-title="Facebook"></a></li>
        <li><a href="#" class="google" data-title="Google +"></a></li>
        <li><a href="#" class="behance" data-title="Behance"></a></li> -->
        <!--<li><a href="#" class="twitter" data-title="Twitter"></a></li>
        <li><a href="#" class="dribble" data-title="Dribble"></a></li>-->
<!--         <li><a href="#" class="rss" data-title="RSS"></a></li>
      </ul> --><!-- end social -->

<!--       <div class="rights">
        <p>Copyright © 2014 magnetic.</p>
        <p>Template by <a href="">Pixelhint.com</a></p>
      </div> --><!-- end rights -->
    <!-- </div > --><!-- end footer -->

</head>
<body>

   <!-- flash notice for rails notifications -->

  <% if notice %>
 <p class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only"> Close</span></button> 
    <i class="fa fa-check"></i> <%= notice %>
     </p>
<% end %>
<% if alert %>
    <p class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
    <span class="sr-only"> Close</span></button>
    <i class="fa fa-exclamation-triangle"></i> <%= alert %> 
  </p>
 <% end %>

<!-- Devise Validation-->
 <div id="user_nav">
  <% if user_signed_in? %>
    Conectado como: <%= current_user.email %>. No eres tú?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div> 

<!-- Begin Template -->
<header>
    <div class="logo">
      <a <%= link_to image_tag("logo.png"), products_path %>></a>
    </div><!-- end logo -->

    <div id="menu_icon"></div>
    <nav>
      <ul>
        <li><a ><%= link_to 'Home', products_path %></a></li>
        <!--<li><a href="index.html" class="selected">Home</a></li>-->
        <li><a href="#">About</a></li>
        <li><a href="#">The Team</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav><!-- end navigation menu -->

    <div class="footer clearfix">
      <ul class="social clearfix">
        <li><a href="#" class="fb" data-title="Facebook"></a></li>
        <li><a href="#" class="google" data-title="Google +"></a></li>
        <li><a href="#" class="behance" data-title="Behance"></a></li>
        <!--<li><a href="#" class="twitter" data-title="Twitter"></a></li>
        <li><a href="#" class="dribble" data-title="Dribble"></a></li>-->
        <li><a href="#" class="rss" data-title="RSS"></a></li>
      </ul><!-- end social -->

      <div class="rights">
        <p>Copyright © 2014 magnetic.</p>
        <p>Template by <a href="">Pixelhint.com</a></p>
      </div><!-- end rights -->
    </div ><!-- end footer -->
  </header><!-- end header -->
<!-- End Template -->

<%= disqus_init %>

  <%= link_to image_tag("logo.png", title: "Magnetic", alt: "Magnetic"), root_path %>

 


<%= yield %>

</body>
</html>
